* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
    background-image: url("./images/background2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 1400px;
}
/* .full-cvr-image {
    background-image: url("./images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1400px;
} */

.score {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

.click {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

.grid {
    width: 400px;
    height: 300px;
    align-content: center;
    flex-wrap: wrap;
    margin: 60px auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: 140px;
}

.grid img {
    margin: 2px;
    transform-style: preserve-3d;
    border: 2px solid rgb(236, 229, 229);
    width: 100px;
    height: 100px;
    transition: transform 0.5s;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.grid img.flip {
    transform: rotateY(180deg);
}

.btn {
    height: 30px;
    width: 100px;
    display: inline-block;
    text-align: center;
    position: relative;
    border-radius: 10px;
    transition: 1s;
}
.control-btns {
    display: flex;
    justify-content: center;
}

.data {
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    font-size: 23px;
    display: inline-block;
    position: relative;
}

.data span {
    color: rgb(255, 255, 255);
    font-size: 30px;
}
.font {
    color: white;
}

.theme {
    margin-top: 10px;
}

.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}
.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.rules-sctn {
    width: 40%;
    height: 300px;
    background-color: white;
    position: absolute;
    margin: 15% 30% 0 30%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: none;
    z-index: 99;
}

.rules {
    margin: 50px;
    display: flex;
    border-color: black;
    border-radius: 40px;
}
